<div class="modal-body">
    <h1>Section</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ section.id }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ section.title }}</td>
        </tr>
        </tbody>
    </table>
</div>