<style>
    .toast-ui-editor-contents:first-child
</style>

<div class="modal-body">
    <h1>Note</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ note.id }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ note.title }}</td>
        </tr>
        <tr>
            <th>Content</th>
            <td>
                <div data-controller="mdviewer" data-value="{{ note.content }}"></div>
            </td>
        </tr>
        </tbody>
    </table>
</div>