<div class="modal-body">
    <h1>Place</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ place.id }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ place.title }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>
                <div data-controller="mdviewer" data-value="{{ place.description }}"></div>
            </td>
        </tr>
        </tbody>
    </table>
</div>