{#{% extends 'base.html.twig' %}#}

{#{% block title %}New Voyage{% endblock %}#}

{#{% block body %}#}

<div class="modal-body">
    <div class="alert alert-warning">
        <b>Page de test</b>
    </div>
    <h1>Create new Voyage</h1>

    {{ include('voyage/_form.html.twig') }}
</div>
{#{% endblock %}#}
