<div class="nav-item dropdown">
    <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown" aria-label="Open user menu">
        <span class="avatar avatar-sm">{{ app.user.userIdentifier|slice(0, 2) }}</span>
        <div class="d-none d-md-block ps-2">
            <div>{{ app.user.userIdentifier }}</div>
            <div class="mt-1 small text-muted">
                {% if app.user.id == 1 %}
                    Dev - Admin
                {% else %}
                    User
                {% endif %}
            </div>
        </div>
    </a>
    <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
        <a href="#" class="dropdown-item">Profile &amp; account</a>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item">Settings</a>
        <a href="{{ path('app_logout') }}" class="dropdown-item">Logout</a>
    </div>
</div>